
.search-container {
  float: right;
}
.searchh{
  border: 2px solid white;
  background-color: yellow;
}
 input[type=text] {
  padding: 6px;
  font-size: 17px;
  margin: 20px 0px 20px 20px;

}

button {
  margin-top:20px;
  padding:6px;
  background: #ddd;
  font-size: 17px;
  cursor: pointer;
}

 button:hover {
  background: #ccc;
}
.weatherplace{
  background-color: lightBlue;
  padding: 20px;

}
